<footer class="footer">
  <div class="widewrapper footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-widget">
          <h3> <i class="fa fa-building"></i><%= link_to "About", about_path %></h3>

          <span></span>

        </div>


        <div class="col-md-4 footer-widget">
          <h3> <i class="fa fa-star"></i>Top Companies</h3>
          <ul class="tales-list">
          <% Company.get_top_companies.each do |company| %>

            <li><%= company.name %></li>

          <% end %>
          </ul>
        </div>

        <div class="col-md-4 footer-widget">
          <h3> <i class="fa fa-envelope"></i>Contact</h3>


            <span class="email">
                <a href="index.#">mail@ecosense.com</a>
            </span>
        </div>
      </div>
    </div>
  </div>
</footer>