<footer class="footer">
  <div class="widewrapper footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-widget">
          <h3> <i class="fa fa-building"></i><%= link_to "About", about_path %></h3>

          <span>
            We're the social network that care about you
          </span>

        </div>


        <div class="col-md-4 footer-widget">
          <h3> <i class="fa fa-star"></i>Top Companies</h3>
          <ul class="tales-list">
          <% Company.get_top_companies.each do |company| %>

            <li>
              <a href="<%= user_company_path(:id => company.id,:user_id => company.user_id) %>">
                <%= company.name %>
            </a>
            </li>

          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>