<div class="widewrapper main">
  <div class="container">
    <div class="padding-top"></div>

    <div class="row">
      <div class="col-md-3"><%= link_to "Manage Companies", admin_companies_path %></div>
      <div class="col-md-3"><%= link_to "Manage Users", admin_users_path %></div>
    </div>
    <div class="padding-top"></div>
    <div class="row">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading"><h3>Unapproved companies</h3></div>
            <div class="panel-body">
              Panel content
            </div>
            <div class="panel-footer">
              <a href="">Approve now!</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading"><h3>Number users</h3></div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading"><h3>Num Posts</h3></div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>