<div class="widewrapper main">
  <div class="container about">
    <h1>Hello There, I’m <span class="about-bold">Ecosense!</span></h1>

    <hr>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 tales-superblock" id="contact">
        <h2>Contact</h2>

        <form action="about.html#" method="get" accept-charset="utf-8" class="contact-form">
          <input type="text" name="name" id="contact-name" placeholder="Name" class="form-control input-lg">
          <input type="email" name="email" id="contact-email" placeholder="Email" class="form-control input-lg">
          <textarea rows="10" name="message" id="contact-body" placeholder="Your thoughts..." class="form-control input-lg"></textarea>
          <div class="buttons clearfix">
            <button type="submit" class="btn btn-xlarge btn-tales-one">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>