<div class="widewrapper main">
  <div class="container about">
    <h1>Hello There, I’m <span class="about-bold">Ecosense!</span></h1>
    We're your favourite social network.
    <br>
    The one who cares about you.
    <hr>
  </div>
</div>