<aside class="col-md-4 blog-aside">

  <div class="aside-widget">
    <header>
      <h3>Categories</h3>
    </header>
    <div class="body clearfix">
      <ul class="tags">
        <% @categories.each do |category| %>
            <li><a href="/companies?category=<%=category.name%>"><%= category.name %></a></li>
        <% end  %>
      </ul>
    </div>
  </div>
</aside>